@model Rol

<div class="centered-wrapper">
    <form asp-action="Create" class="minimal-form big-form">
        <h2 class="minimal-title">@ViewData["Title"]</h2>
        <h2 class="minimal-title">Crear Roles</h2>
        <label>
            @Html.DisplayNameFor(m => m.Nombre)
            <input asp-for="Nombre" type="text" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </label>

        <label class="checkbox-label">
            <input asp-for="Activo" type="checkbox" />
            @Html.DisplayNameFor(m => m.Activo)
        </label>

        <button type="submit">Guardar</button>
    </form>
</div>
