@model Rol

<div class="centered-wrapper">
    <form asp-action="Edit" method="post" class="big-form">
        <h2 class="minimal-title">Editar Rol</h2>
        <input type="hidden" asp-for="RolId" />

        <label>
            Nombre del Rol
            <input asp-for="Nombre" type="text" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </label>

        <label class="checkbox-label">
            <input asp-for="Activo" type="checkbox" />
            Activo
        </label>

        <button type="submit">Guardar</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["Mensaje"] != null)
    {
        <text>
                    Swal.fire({
                        icon: '@TempData["TipoMensaje"]',
                        title: '@(TempData["TipoMensaje"]?.ToString() == "success" ? "Éxito" : "Error")',
                        text: '@TempData["Mensaje"]'
                    });
        </text>
    }
</script>