<style type="text/css">
    .awlist1 {
        list-style: none;
        counter-reset: awlistcounter19_0
    }

    .awlist1>li:before {
        content: counter(awlistcounter19_0) '.';
        counter-increment: awlistcounter19_0
    }

    .awlist2 {
        list-style: none;
        counter-reset: awlistcounter19_1
    }

    .awlist2>li:before {
        content: counter(awlistcounter19_0) '.' counter(awlistcounter19_1) '.';
        counter-increment: awlistcounter19_1
    }

    .awlist3 {
        list-style: none;
        counter-reset: awlistcounter19_1 1
    }

    .awlist3>li:before {
        content: '1.' counter(awlistcounter19_1) '.';
        counter-increment: awlistcounter19_1
    }

    .awlist4 {
        list-style: none;
        counter-reset: awlistcounter19_0 1
    }

    .awlist4>li:before {
        content: counter(awlistcounter19_0) '.';
        counter-increment: awlistcounter19_0
    }

    .awlist5 {
        list-style: none;
        counter-reset: awlistcounter19_0 2
    }

    .awlist5>li:before {
        content: counter(awlistcounter19_0) '.';
        counter-increment: awlistcounter19_0
    }

    .awlist6 {
        list-style: none;
        counter-reset: awlistcounter19_0 3
    }

    .awlist6>li:before {
        content: counter(awlistcounter19_0) '.';
        counter-increment: awlistcounter19_0
    }

    .awlist7 {
        list-style: none;
        counter-reset: awlistcounter19_0 4
    }

    .awlist7>li:before {
        content: counter(awlistcounter19_0) '.';
        counter-increment: awlistcounter19_0
    }

    .awlist8 {
        list-style: none;
        counter-reset: awlistcounter26_0
    }

    .awlist8>li:before {
        content: counter(awlistcounter26_0) '.';
        counter-increment: awlistcounter26_0
    }

    .awlist9 {
        list-style: none;
        counter-reset: awlistcounter26_0 1
    }

    .awlist9>li:before {
        content: counter(awlistcounter26_0) '.';
        counter-increment: awlistcounter26_0
    }

    .awlist10 {
        list-style: none;
        counter-reset: awlistcounter26_1
    }

    .awlist10>li:before {
        content: counter(awlistcounter26_0) '.' counter(awlistcounter26_1) '.';
        counter-increment: awlistcounter26_1
    }

    .awlist11 {
        list-style: none;
        counter-reset: awlistcounter26_2
    }

    .awlist11>li:before {
        content: '2.1.' counter(awlistcounter26_2) '.';
        counter-increment: awlistcounter26_2
    }

    .awlist12 {
        list-style: none;
        counter-reset: awlistcounter26_2 1
    }

    .awlist12>li:before {
        content: '2.1.' counter(awlistcounter26_2) '.';
        counter-increment: awlistcounter26_2
    }

    .awlist13 {
        list-style: none;
        counter-reset: awlistcounter26_2 2
    }

    .awlist13>li:before {
        content: '2.1.' counter(awlistcounter26_2) '.';
        counter-increment: awlistcounter26_2
    }

    .awlist14 {
        list-style: none;
        counter-reset: awlistcounter26_2 3
    }

    .awlist14>li:before {
        content: '2.1.' counter(awlistcounter26_2) '.';
        counter-increment: awlistcounter26_2
    }

    .awlist15 {
        list-style: none;
        counter-reset: awlistcounter26_2 4
    }

    .awlist15>li:before {
        content: '2.1.' counter(awlistcounter26_2) '.';
        counter-increment: awlistcounter26_2
    }

    .awlist16 {
        list-style: none;
        counter-reset: awlistcounter26_1 1
    }

    .awlist16>li:before {
        content: '2.' counter(awlistcounter26_1) '.';
        counter-increment: awlistcounter26_1
    }

    .awlist17 {
        list-style: none;
        counter-reset: awlistcounter26_1 2
    }

    .awlist17>li:before {
        content: '2.' counter(awlistcounter26_1) '.';
        counter-increment: awlistcounter26_1
    }

    .awlist18 {
        list-style: none;
        counter-reset: awlistcounter26_0 2
    }

    .awlist18>li:before {
        content: counter(awlistcounter26_0) '.';
        counter-increment: awlistcounter26_0
    }

    .awlist19 {
        list-style: none;
        counter-reset: awlistcounter23_0
    }

    .awlist19>li:before {
        content: counter(awlistcounter23_0) '.';
        counter-increment: awlistcounter23_0
    }

    .awlist20 {
        list-style: none;
        counter-reset: awlistcounter23_1
    }

    .awlist20>li:before {
        content: '1.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist21 {
        list-style: none;
        counter-reset: awlistcounter23_1 1
    }

    .awlist21>li:before {
        content: '1.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist22 {
        list-style: none;
        counter-reset: awlistcounter23_2
    }

    .awlist22>li:before {
        content: '1.2.' counter(awlistcounter23_2) '.';
        counter-increment: awlistcounter23_2
    }

    .awlist23 {
        list-style: none;
        counter-reset: awlistcounter23_2 1
    }

    .awlist23>li:before {
        content: '1.2.' counter(awlistcounter23_2) '.';
        counter-increment: awlistcounter23_2
    }

    .awlist24 {
        list-style: none;
        counter-reset: awlistcounter23_0 1
    }

    .awlist24>li:before {
        content: counter(awlistcounter23_0) '.';
        counter-increment: awlistcounter23_0
    }

    .awlist25 {
        list-style: none;
        counter-reset: awlistcounter23_1
    }

    .awlist25>li:before {
        content: '2.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist26 {
        list-style: none;
        counter-reset: awlistcounter23_1 1
    }

    .awlist26>li:before {
        content: '2.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist27 {
        list-style: none;
        counter-reset: awlistcounter23_1 2
    }

    .awlist27>li:before {
        content: '2.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist28 {
        list-style: none;
        counter-reset: awlistcounter23_1 3
    }

    .awlist28>li:before {
        content: '2.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist29 {
        list-style: none;
        counter-reset: awlistcounter23_0 2
    }

    .awlist29>li:before {
        content: counter(awlistcounter23_0) '.';
        counter-increment: awlistcounter23_0
    }

    .awlist30 {
        list-style: none;
        counter-reset: awlistcounter23_1
    }

    .awlist30>li:before {
        content: '3.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }

    .awlist31 {
        list-style: none;
        counter-reset: awlistcounter23_1 1
    }

    .awlist31>li:before {
        content: '3.' counter(awlistcounter23_1) '.';
        counter-increment: awlistcounter23_1
    }
</style>