@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p class="welcome-msg">Hola, @ViewBag.NombreUsuario (@ViewBag.RolUsuario) 👋</p>
</div>
