@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h2>
    Categoria de Archivos
</h2>

<hr/>

<form action="analizar" method="post" enctype="multipart/form-data">
    <label>Nombre Categoria</label>
    <input type="text" name="category" id="category" />
    <input type="file" name="file" id="file"/>
    <button type="submit">Crear Categoria</button>
</form>


