
@model WebApp.Models.CategoryFile

<div class="centered-wrapper">
    <form asp-action="analizar" method="post" enctype="multipart/form-data" class="minimal-form big-form">
        <h2 class="minimal-title">Categoría de Archivos</h2>

        <label>Nombre Categoria
          <input asp-for="Nombre" type="text" name="Nombre" />
        </label>
        <label>Descripcion
          <input asp-for="Descripcion" type="text" name="Descripcion" placeholder="Opcional"/>
        </label>
        <label>Delimitador
          <input asp-for="delimiter" typeof="text" name="delimiter" />
        </label>
        <label>
            Archivo CSV
            <input type="file" name="file" id="file" />
        </label>

        <button type="submit">Crear Categoría</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @if (TempData["Mensaje"] != null)
    {
        <text>
                Swal.fire({
                    icon: '@TempData["TipoMensaje"]',
                    title: '@(TempData["TipoMensaje"]?.ToString() == "success" ? "Éxito" : "Error")',
                    text: '@TempData["Mensaje"]'
                });
        </text>
    }
</script>

