@model WebApp.Models.CategoryFile


<h2>
    Categoria de Archivos
</h2>

<hr/>

<form asp-action="analizar" method="post" enctype="multipart/form-data">
    <label>Nombre Categoria</label>
    <input asp-for="Nombre" type="text" name="Nombre" />
    <label>Descripcion</label>
    <input asp-for="Descripcion" type="text" name="Descripcion" placeholder="Opcional"/>
    <label>Delimitador</label>
    <input asp-for="delimiter" typeof="text" name="delimiter" />
    <input type="file" name="file" id="file"/>
    <button type="submit">Crear Categoria</button>
</form>


