@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h2>
    Subir Archivo
</h2>

<hr/>

<input type="file" id="csvFile" />
<button onclick="procesarCsv()">Enviar CSV</button>

<script>
    async function procesarCsv() {
        const fileInput = document.getElementById('csvFile');
        const file = fileInput.files[0];
        if (!file) {
            alert("Seleccioná un archivo");
            return;
        }

        const chunkSize = 100; // cantidad de filas por chunk
        const reader = new FileReader();

        reader.onload = async function (e) {
            const text = e.target.result;
            const lines = text.split(/\r?\n/).filter(l => l.trim() !== '');

            for (let i = 0; i < lines.length; i += chunkSize) {
                const chunk = lines.slice(i, i + chunkSize);

                const response = await fetch('/File/EnviarChunk', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        chunk: chunk,
                        fileName: "Testing_csv.csv"//fileName
                    })
                });

                if (!response.ok) {
                    console.error("Error al enviar chunk:", await response.text());
                    break;
                }
            }

            //alert("Archivo procesado exitosamente");
        };

        reader.readAsText(file);
    }
</script>
