@{
    ViewData["Title"] = "Subir Archivo";
}

<div class="centered-wrapper">
    <form class="minimal-form" onsubmit="event.preventDefault(); procesarCsv();">
        <h2 class="minimal-title">Subir Archivo</h2>

        <label>
            Categoría
            <select name="CategoriaId" class="form-control" id="category">
                <option value="">Seleccione una categoría</option>
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.CategoriaId">@categoria.Nombre</option>
                }
            </select>
        </label>

        <label>
            Archivo CSV
            <input type="file" id="csvFile" />
        </label>


        <button type="submit">Enviar CSV</button>
    </form>
</div>

<script>
    async function procesarCsv() {
        const fileInput = document.getElementById('csvFile');
        const fileCategory = document.getElementById('category').value;
        const file = fileInput.files[0];

        if (!file || fileCategory.trim() === "") {
            alert("Selecciona un archivo y su categoría.");
            return;
        }

        const chunkSize = 100;
        const reader = new FileReader();

        reader.onload = async function (e) {
            const text = e.target.result;
            const lines = text.split(/\\r?\\n/).filter(l => l.trim() !== '');

            for (let i = 0; i < lines.length; i += chunkSize) {
                const chunk = lines.slice(i, i + chunkSize);
                console.log(chunk);

                const response = await fetch('/File/EnviarChunk', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        chunk: chunk,
                        categoryId: fileCategory
                    })
                });

                if (!response.ok) {
                    console.error("Error al enviar chunk:", await response.text());
                    break;
                }
            }

            alert("Archivo procesado exitosamente");
        };

        reader.readAsText(file);
    }
</script>