@model Empresa

<div class="centered-wrapper">
    <form asp-action="Save" class="minimal-form big-form">
        <h2 class="minimal-title">@(Model.EmpresaId == 0 ? "Crear Empresa" : "Editar Empresa")</h2>

        <label>
            Nombre
            <input asp-for="Nombre" type="text" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </label>

        <label>
            Razón Social
            <input asp-for="RazonSocial" type="text" />
            <span asp-validation-for="RazonSocial" class="text-danger"></span>
        </label>

        <label class="checkbox-label">
            <input asp-for="Activo" type="checkbox" />
            Activo
        </label>

        <button type="submit">Guardar</button>
    </form>
</div>